.App {
  font-family: sans-serif;
  padding: 16px 16px 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.example-emoji {
  font-size: 64px;
  width: 64px;
  height: 64px;
}
